html,
body {
  height: 100%;
}

#feedback-board {
  box-shadow: 0 0 0 1px black inset;
  width: 100%;
  height: 100%;
  display: grid;
}

.cell {
  border-radius: 5px;
  box-shadow: 0 0 0 1px red inset;
}

.gutter {
  width: 16px;
}
